.brand{
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    user-select: none;
    cursor: pointer;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3d5af1;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

body{
    margin: 0;
    padding: 0;
    background-color: #e2f3f5;
}

a{
    text-decoration: none;
    color: inherit;
}

.menu-offcanvas{
    background-color: #0e153a;
    color: #fff;
    width: 50%;
    padding: 10px;
    position: absolute;
    top: 0;
    right:0;
    z-index: 1;
    height: 100%;
    display: none;
}


.menu-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 80vh;
    padding: 10px;
}

input{
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    padding: 0 10px;
    width: 100%;
    display: block;
    padding: 8px 10px;
    border: none;
    background-color: #e2f3f5;
    /* border-radius: 5px;
    border-width: 2px;
    border-color: #3d5af1;
    border-style: solid; */
}

input:focus{
    outline: none;
    border-bottom: 2px solid #142ca8;
}

textarea:focus{
    outline: none;
    border-bottom: 2px solid #142ca8;
    border-top: 2px solid #142ca8;

}

textarea{
    height: 100%;
    font-size: 18px;
    padding: 10px;
    display: block;
    padding: 8px 10px;
    background-color: #e2f3f5;
    border: none;
    /* border-radius: 5px;
    border-width: 2px;
    border-color: #3d5af1;
    border-style: solid; */
}

.form-header{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}


@media screen and (min-width: 320px) {
    
    .navbar{
        padding: 10px;
    }

    ul{
        display: none;
    }

    .navbar-toggle{
        font-size: 35px;
    }
}

@media screen and (min-width: 1024px) {

    .navbar-toggle{
        display: none;
    }

    ul{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
        gap: 20px;
    }

    li{
        font-size: 20px;
    }

    .navbar{
        padding: 16px 100px;
    }

}