.brand{
    font-size: 30px;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3d5af1;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.menu-offcanvas{
    background-color: red;
    width: 50%;
    padding: 10px;
    position: absolute;
    top: 0;
    right:0;
    z-index: 1;
    height: 100%;
    display: none;
}


.menu-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 80vh;
    padding: 10px;
}

input{
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    padding: 0 10px;
    width: 100%;
}

textarea{
    height: 100%;
    font-size: 18px;
    padding: 10px;
}

.form-header{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}


@media screen and (min-width: 320px) {
    
    .navbar{
        padding: 10px;
    }

    ul{
        display: none;
    }

    .navbar-toggle{
        font-size: 35px;
    }
}

@media screen and (min-width: 1024px) {

    .navbar-toggle{
        display: none;
    }

    ul{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
        gap: 20px;
    }

    li{
        font-size: 20px;
    }

    .navbar{
        padding: 16px 100px;
    }

}