input{
    width: 360px;
    height: 35px;
    display: block;
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 5px;
    border-width: 2px;
    border-color: #3d5af1;
    border-style: solid;
}

input:focus{
    outline: none;
    border-color: #142ca8;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #e2f3f5;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 10px;
}