*{
    margin: 0;
    padding: 0;
}

.hero{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}